<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">


    <bean id="propertyConfigurer" class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
        <property name="location" value="${configPath:classpath:application.properties}" />
    </bean>
    <bean id="listener" class="org.willingfish.socks.common.Listener">
        <property name="server" ref="server" />
    </bean>
    <bean id="sslEngineFactory" class="org.willingfish.socks.common.ssl.SslEngineFactoryImpl">
        <constructor-arg index="0" value="${serverCaPath}" />
        <constructor-arg index="1" value="${serverCaPass}" />
    </bean>
    <bean id="server" class="org.willingfish.socks.server.Server">
        <property name="port" value="${serverPort}" />
        <property name="sslEngineFactory" ref="sslEngineFactory" />
    </bean>

</beans>